.hexMapContainer {
  cursor: grab;
}
.hexMapContainer.panning {
  cursor: grabbing;
}

.hexMap .hex {
  stroke: white;
  stroke-width: 1px;
  cursor: pointer;
}

.hexMap .coord {
  alignment-baseline: hanging;
  text-anchor: middle;
  pointer-events: none;
  user-select: none;
}

.hexMap .icon {
  alignment-baseline: middle;
  text-anchor: middle;
  pointer-events: none;
  user-select: none;
}
