.hexMapContainer {
  cursor: grab;
}
.hexMapContainer.panning {
  cursor: grabbing;
}

.hexMap .coords,
.hexMap .icons,
.hexMap .terrainIcons,
.hexMap .rivers,
.hexMap .borders,
.hexMap .overlays {
  pointer-events: none;
  user-select: none;
}

.hexMap .terrain polygon {
  stroke: white;
  stroke-width: 1px;
  cursor: pointer;
}

.hexMap .coords text {
  alignment-baseline: hanging;
  text-anchor: middle;
}

.hexMap .icons text {
  alignment-baseline: middle;
  text-anchor: middle;
}

.hexMap .rivers polyline {
  fill: none;
  stroke-linecap: round;
}

.hexMap .borders polygon {
  fill: none;
}
