.hexMapContainer {
  cursor: grab;
}
.hexMapContainer.panning {
  cursor: grabbing;
}

.hexMap .coords,
.hexMap .icons,
.hexMap .terrainIcons,
.hexMap .rivers,
.hexMap .borders,
.hexMap .overlays,
.hexMap .zones {
  pointer-events: none;
  user-select: none;
}

.hexMap .terrain polygon {
  stroke: white;
  stroke-width: 1px;
  cursor: pointer;
}

.hexMap .coords text {
  alignment-baseline: hanging;
  text-anchor: middle;
}

.hexMap .icons text,
.hexMap .zones text {
  alignment-baseline: middle;
  text-anchor: middle;
}

.hexMap .zones text {
  font-size: 12px;
  text-shadow: 0 0 4px black;
}
.hexMap .zones polygon {
  stroke-dasharray: 2;
  stroke-width: 2px;
}

.hexMap .rivers polyline {
  fill: none;
  stroke-linecap: round;
}

.hexMap .borders polygon {
  fill: none;
}

.panel {
  position: sticky;
  border: 2px solid #ccc;
  padding: 4px;
  background-color: #444;
}
.panel .heading {
  font-weight: bold;
}
.panel .list {
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}
.panel label {
  display: flex;
  align-items: center;
}
.panel label input {
  order: 0;
}
